@charset "UTF-8";

/* Todas as demais medias */

/* Typical Device Breakpoints 

 Pequenas Telas: Até 600px
 Celular: de 600px até 768px
 Tablet: de 768px até 992px
 Desktop: de 992px até 1200px
 TV: acima de 1200px
*/

@media print{ /* IMPRESSÃO */
  body{
    background-image: url(../imagens/back-print.jpg);
    font-family: 'Courier New', Courier, monospace;
  }

  main h1{
    text-shadow: none;
    color: black;
  }

  main::after{
    content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
    text-decoration: overline;
}

  #phone{display: none;}
  #tablet{display: none;}
  #pc{display: none;}
  #print{display: block;}
  #tv{display: none;}
}

@media screen and (min-width: 768px) { /* Tablet */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #pc{display: none;}
    #print{display: none;}
    #tv{display: none;}

}

@media screen and (min-width: 992px) { /* PC */
    body{
    background-image: url(../imagens/back-pc.jpg);
}
    #phone{display: none;}
    #tablet{display: none;}
    #pc{display: block;}
    #print{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 1200px) { /* TV */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #pc{display: none;}
    #print{display: none;}
    #tv{display: block;}
}

